[Unit]
Description=CCTV8 Stream Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/test_cctv8/start_server.sh
Restart=on-abort
WorkingDirectory=/opt/test_cctv8

[Install]
WantedBy=multi-user.target 